.carouselImage{
    width: 100%;
    max-width: 600px;
    border-radius: 2rem;
    box-shadow: 4px 3px 7px 0px #979797;
  /* padding: 1rem; */
}
.songCategoryCard {
    
    border: 1px solid;
    max-width: 216px;
    overflow: hidden;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 1px 1px darkgray;

  }
  .songCategoryTitle{
    
    font-size: 1.5rem;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;

  }
  .songCategoryImage{
    
    width: 50%;
    height: auto;
    overflow: hidden;
    border-radius: 100%;
    margin: auto;
    box-shadow: 1px 1px 1px 1px;

  }

  